/* Общие стили */
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Убираем скроллинг */
    height: 100dvh; /* Высота всегда равна высоте экрана */
    font-family: Arial, sans-serif;
    background-size: cover; /* Универсальное растяжение фона */
    background-repeat: no-repeat;
    background-position: center;
}

/* Базовый фон */
body {
    background-color: #090f1e;
}

/* Контейнер с фиксированным соотношением 9:16 */
#site-container {
    width: calc(100dvh * 9 / 16);
    height: 100dvh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Централизованная настройка кнопок и полей */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px; /* Расстояние между элементами */
    width: 100%;
    height: 100%;
}

/* Стиль для заголовка "Вход" */
h1 {
    color: white; /* Белый цвет текста */
    font-size: 27px; /* Размер шрифта */
    text-align: center; /* Выравнивание текста по центру */
    margin: 20px 0; /* Отступ сверху и снизу */
    position: relative; /* Для более точного позиционирования */
    top: 140px; /* Поднятие текста вверх */
}

/* Общий стиль для кнопок */
button {
    font-family: Trebuchet MS, sans-serif;
    background: linear-gradient(to right, #8657e9, #0dadfd); /* Градиент слева направо */
    color: white;
    border: none;
    border-radius: 20px; /* Закругленные края */
    padding: 10px 20px; /* Внутренний отступ */
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.2s; /* Плавный переход */
    width: 300px; /* Ширина кнопки */
    height: 60px; /* Высота кнопки */
	font-weight: bold; /* Жирный текст */
}

button:hover {
    transform: scale(1.02); /* Легкое увеличение */
}

/* Стиль для полей ввода */
input[type="text"] {
    width: 280px; /* Ширина */
    height: 40px; /* Высота поля ввода */
    padding: 10px; /* Внутренний отступ */
    margin: 5px 0; /* Отступ между полями */
    border: none;
    border-radius: 20px; /* Закругленные края */
    background: rgba(255, 255, 255, 1); /* Полупрозрачный фон */
    color: black;
    font-size: 16px;
    font-weight: bold;
}

input[type="text"]::placeholder {
    color: black; /* текст подсказки */
    opacity: 1; /* Убираем прозрачность текста */
}

/* Централизованная настройка группы элементов */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px; /* Расстояние между элементами */
    width: 85%;
    margin-top: 140px; /* Размещение группы ниже на странице */
}

/* Стиль для кнопки "Получить сигнал" */
#generate-signal {
	font-family: Trebuchet MS, sans-serif;
    background: linear-gradient(to right, #8657e9, #0dadfd); /* Градиент слева направо */
    color: white; /* Цвет текста */
    border: none; /* Убираем рамку */
    border-radius: 15px; /* Закругленные края */
    padding: 10px 20px; /* Внутренние отступы */
    font-size: 18px; /* Размер текста */
    cursor: pointer; /* Курсор "указатель" при наведении */
    backdrop-filter: blur(5px); /* Эффект размытия */
    transition: background 0.3s, transform 0.2s; /* Плавные эффекты при наведении */
    width: 300px; /* Ширина кнопки */
    height: 55px; /* Высота кнопки */
    margin: 10px auto; /* Центрирование кнопки */
    display: block; /* Блочный элемент */
	font-weight: bold; /* Жирный текст */
}

#generate-signal:disabled {
    background: rgba(128, 128, 128, 0.5); /* Серый цвет */
    color: white; /* Цвет текста */
    cursor: not-allowed; /* Изменение курсора на "запрещено" */
    transform: none; /* Отключение увеличения */
    box-shadow: none; /* Убираем тень */
	font-size: 15px; /* Размер текста */
	padding: 10px 20px; /* Внутренние отступы */
}

/* Базовый стиль для signal-output */
#signal-output {
	display: flex; /* Включение Flexbox */
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    text-align: center; /* Выравнивание текста по центру внутри элемента */
    width: 250px;
    height: 55px;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: white;
    transition: background-color 0.3s ease;
	margin-top: 10px; /* Отступ перед выводом */
}


/* Стиль для направления "Вверх" */
#signal-output[data-direction="Вверх"] {
	display: flex; /* Включение Flexbox */
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    text-align: center; /* Выравнивание текста по центру внутри элемента */
    background-color: rgba(0, 255, 0, 0.7); /* Зелёный фон */
    color: white;
	border: none;
	box-shadow: 0 10px 15px rgba(0, 255, 0, 0.3); /* Лёгкая тень */
	font-weight: bold;
}

/* Стиль для направления "Вниз" */
#signal-output[data-direction="Вниз"] {
	display: flex; /* Включение Flexbox */
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    text-align: center; /* Выравнивание текста по центру внутри элемента */
    background-color: rgba(255, 0, 0, 0.7); /* Красный фон */
    color: white;
	border: none;
	box-shadow: 0 10px 15px rgba(255, 0, 0, 0.3); /* Лёгкая тень */
	font-weight: bold;
	text-align: center;
	align-items: center;
}

/* Базовый стиль для выпадающего списка */
#currency-pair {
    width: 300px; /* Ширина */
    height: 55px; /* Высота */
    padding: 10px; /* Внутренние отступы */
    margin: 10px auto; /* Центрирование */
    border: none; /* Убираем рамку */
    border-radius: 20px; /* Закругленные края */
    background: rgba(255, 255, 255, 1); /* Полупрозрачный фон */
    color: black; /* Цвет текста */
    font-size: 18px; /* Размер текста */
    font-weight: bold; /* Жирный текст */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Лёгкая тень */
    cursor: pointer; /* Курсор "указатель" при наведении */
    appearance: none; /* Убираем стандартное оформление */
    transition: background-color 0.3s ease, color 0.3s ease; /* Плавные переходы */
}

#expiration-time {
	width: 300px; /* Ширина */
    height: 55px; /* Высота */
    padding: 10px; /* Внутренние отступы */
    margin: 10px auto; /* Центрирование */
    border: none; /* Убираем рамку */
    border-radius: 20px; /* Закругленные края */
    background: rgba(255, 255, 255, 1); /* Полупрозрачный фон */
    color: black; /* Цвет текста */
    font-size: 18px; /* Размер текста */
    font-weight: bold; /* Жирный текст */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Лёгкая тень */
    cursor: pointer; /* Курсор "указатель" при наведении */
    appearance: none; /* Убираем стандартное оформление */
    transition: background-color 0.3s ease, color 0.3s ease; /* Плавные переходы */
}

#currency-pair, #expiration-time, #generate-signal {
    margin-bottom: 10px;
}

#win-rate-text {
    font-size: 16px;
    margin-top: 10px;
    color: rgba(255, 255, 255, 1);
}

#progress-container {
    margin: 20px auto;
    text-align: center;
    position: relative;
}

/* Общий контейнер для выравнивания круга и текста */
#progress-wrapper {
    width: 185px; /* Размер круга */
    height: 185px; /* Размер круга */
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    position: relative; /* Для размещения текста поверх круга */
}


#win-rate-text {
    display: none; /* Текст никогда не будет виден */
}

/* Контейнер для кнопок */
#button-wrapper {
    position: relative;
    width: 335px;
    margin: 35px auto; /* Центрирование */
    padding: 10px; /* Внутренние отступы */
    background: linear-gradient(to right, #1c253c, #101729); /* Градиент слева направо */
    border-radius: 10px; /* Закруглённые края */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Тень для блока */
    display: flex;
    flex-direction: column; /* Элементы располагаются вертикально */
    align-items: center; /* Центрирование по горизонтали */
    gap: 2px; /* Расстояние между элементами */
}

#circle-wrapper {
    position: relative;
	width: 315px; /* Ширина */
    margin: 0px auto; /* Центрирование */
    padding: 20px; /* Внутренние отступы */
    background: linear-gradient(to right, #1c253c, #101729); /* Градиент слева направо */
    border-radius: 10px; /* Закруглённые края */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Тень для блока */
    display: flex;
    flex-direction: column; /* Элементы располагаются вертикально */
    align-items: center; /* Центрирование по горизонтали */
    gap: 15px; /* Расстояние между элементами */
}


/* Контейнер для логотипа */
#logo-container {
    position: absolute; /* Фиксированное позиционирование */
    top: 20px; /* Отступ сверху */
    left: 50%; /* Центрирование по горизонтали */
    transform: translateX(-50%); /* Сдвиг для точного центрирования */
    z-index: 100; /* Поверх других элементов */
    width: 250px; /* Ширина контейнера */
    height: auto; /* Автоматическая высота для сохранения пропорций */
}

/* Изображение логотипа */
#logo {
    width: 100%; /* Ширина логотипа равна ширине контейнера */
    height: auto; /* Сохраняем пропорции логотипа */
    object-fit: contain; /* Подгоняем изображение, если оно не помещается */
}

#index-logo-container {
    position: relative; /* Для правильного позиционирования потомков */
	background-color: transparent;
	width: 150px;
    height: 150px; /* Фиксированная высота для контейнера */
    text-align: center; /* Центрирование логотипа */
}

#index-logo {
    position: absolute; /* Абсолютное позиционирование логотипа */
    top: 150px; /* Расположение по центру контейнера */
    left: 50%; /* Центрирование по горизонтали */
    transform: translate(-50%, -50%); /* Сдвиг для точного центрирования */
    width: 300px; /* Ширина логотипа */
    height: auto; /* Сохранение пропорций */
}
