/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

/* Контейнер фиксированного соотношения 9:16 */
#site-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100vh * 9 / 16);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Адаптация контейнера для устройств */
@media (max-aspect-ratio: 16/9) {
    #site-container {
        width: 100vw;
        height: calc(100vw * 16 / 9);
    }
}

/* Фоны для страниц */
body.index-page #site-container {
    background-image: url('assets/index-background.jpeg'); /* Фон для index.html */
}

body.signals-page #site-container {
    background-image: url('assets/signals-background.jpeg'); /* Фон для signals.html */
}

/* Стиль для заголовка "Вход" */
h1 {
    color: white; /* Белый цвет текста */
    font-size: 24px; /* Размер шрифта */
    text-align: center; /* Выравнивание текста по центру */
    margin: 20px 0; /* Отступ сверху и снизу */
    position: relative; /* Для более точного позиционирования */
    top: 235px; /* Поднятие текста вверх, настройте под свои нужды */
}


/* Общий стиль для кнопок */
button {
    background: rgba(0, 122, 255, 0.4); /* Полупрозрачный черный фон */
    color: white;
    border: none;
    border-radius: 50px; /* Закругленные края */
    padding: 10px 20px; /* Внутренний отступ */
    font-size: 16px;
    cursor: pointer;
    backdrop-filter: blur(5px); /* Эффект блюра */
    transition: background 0.3s, transform 0.2s; /* Плавный переход */
    width: 85%; /* Ширина кнопки */
    height: 50px; /* Высота кнопки */
}

button:hover {
    background: rgba(0, 0, 0, 0.7); /* Изменение прозрачности при наведении */
    transform: scale(1.02); /* Легкое увеличение */
}

/* Стиль для полей ввода */
input[type="text"] {
    width: 80%; /* Ширина */
    height: 30px; /* Высота поля ввода */
    padding: 10px; /* Внутренний отступ */
    margin: 5px 0; /* Отступ между полями */
    border: none;
    border-radius: 50px; /* Закругленные края */
    background: rgba(255, 255, 255, 0.2); /* Полупрозрачный фон */
    color: black;
    font-size: 14px;
    backdrop-filter: blur(10px); /* Эффект блюра */
}

input[type="text"]::placeholder {
    color: black; /* текст подсказки */
    opacity: 1; /* Убираем прозрачность текста */
}

/* Централизованная настройка группы элементов */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px; /* Расстояние между элементами */
    width: 85%;
    margin-top: 235px; /* Размещение группы ниже на странице */
}


/* Стиль для кнопки "Получить сигнал" */
#generate-signal {
    background: rgba(0, 122, 255, 0.4); /* Полупрозрачный голубой фон */
    color: white; /* Цвет текста */
    border: none; /* Убираем рамку */
    border-radius: 30px; /* Закругленные края */
    padding: 10px 20px; /* Внутренние отступы */
    font-size: 16px; /* Размер текста */
    cursor: pointer; /* Курсор "указатель" при наведении */
    backdrop-filter: blur(5px); /* Эффект размытия */
    transition: background 0.3s, transform 0.2s; /* Плавные эффекты при наведении */
    width: 350; /* Ширина кнопки */
    height: 50px; /* Высота кнопки */
    margin: 10px auto; /* Центровка кнопки */
    display: block; /* Блочный элемент */
}

#generate-signal:disabled {
    background: rgba(128, 128, 128, 0.5); /* Серый цвет */
    color: white; /* Цвет текста */
    cursor: not-allowed; /* Изменение курсора на "запрещено" */
    transform: none; /* Отключение увеличения */
    box-shadow: none; /* Убираем тень */
}

/* Базовый стиль для signal-output */
#signal-output {
	display: flex; /* Включение Flexbox */
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    text-align: center; /* Выравнивание текста по центру внутри элемента */
    width: 240px;
    height: 35px;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 30px;
    background-color: white;
    transition: background-color 0.3s ease;
}

/* Стиль для направления "Вверх" */
#signal-output[data-direction="Вверх"] {
	display: flex; /* Включение Flexbox */
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    text-align: center; /* Выравнивание текста по центру внутри элемента */
	width: 200; /* Ширина */
    height: 40px; /* Высота */
    background-color: rgba(0, 255, 0, 0.7); /* Зелёный фон */
    color: white;
	border: none;
	border-radius: 30px; /* Закругленные края */
	box-shadow: 0 10px 15px rgba(0, 255, 0, 0.3); /* Лёгкая тень */
	font-weight: bold;
	
}

/* Стиль для направления "Вниз" */
#signal-output[data-direction="Вниз"] {
	display: flex; /* Включение Flexbox */
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    text-align: center; /* Выравнивание текста по центру внутри элемента */
	width: 200; /* Ширина */
    height: 40px; /* Высота */
    background-color: rgba(255, 0, 0, 0.7); /* Красный фон */
    color: white;
	border: none;
	border-radius: 30px; /* Закругленные края */
	box-shadow: 0 10px 15px rgba(255, 0, 0, 0.3); /* Лёгкая тень */
	font-weight: bold;
	text-align: center;
	align-items: center;
}

/* Базовый стиль для выпадающего списка */
#currency-pair {
    width: 200; /* Ширина */
    height: 50px; /* Высота */
    padding: 10px; /* Внутренние отступы */
    margin: 10px auto; /* Центрирование */
    border: none; /* Убираем рамку */
    border-radius: 30px; /* Закругленные края */
    background: rgba(255, 255, 255, 0.2); /* Полупрозрачный фон */
    color: black; /* Цвет текста */
    font-size: 16px; /* Размер текста */
    font-weight: bold; /* Жирный текст */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Лёгкая тень */
    backdrop-filter: blur(10px); /* Размытие фона */
    cursor: pointer; /* Курсор "указатель" при наведении */
    appearance: none; /* Убираем стандартное оформление */
    transition: background-color 0.3s ease, color 0.3s ease; /* Плавные переходы */
}

#expiration-time {
	width: 200; /* Ширина */
    height: 50px; /* Высота */
    padding: 10px; /* Внутренние отступы */
    margin: 10px auto; /* Центрирование */
    border: none; /* Убираем рамку */
    border-radius: 30px; /* Закругленные края */
    background: rgba(255, 255, 255, 0.2); /* Полупрозрачный фон */
    color: black; /* Цвет текста */
    font-size: 16px; /* Размер текста */
    font-weight: bold; /* Жирный текст */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Лёгкая тень */
    backdrop-filter: blur(10px); /* Размытие фона */
    cursor: pointer; /* Курсор "указатель" при наведении */
    appearance: none; /* Убираем стандартное оформление */
    transition: background-color 0.3s ease, color 0.3s ease; /* Плавные переходы */
}


